* {
    margin:0;
    padding:0;
}

.formContainer {
    position:fixed;
    justify-content: center;
    background-color:gray;
    width: 500px;
    height: 300px;
    padding:20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.login-title{
    text-align: center;
    height:80px;
    line-height:80px;
    padding:5px;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color:white;
}

.signup-title{
    text-align: center;
    height:80px;
    line-height:80px;
    padding:5px;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color:white;
}

input {
    height:20px;
    width: 90%;
    margin:5px;
}

button {
    background-color:blue;
    width:4rem;
    height:1.5rem;
    margin: 10px;
}